<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abye api</title>
</head>
    <ul>

        <li><a href="loan/">Loan</a> /loan</li>
        <ul>
            <li><a href="loan/home_loan/">Home loan</a> /loan/home_loan/</li>
            <li><a href="loan/student_loan/">Student loan</a> /loan/student_loan/</li>
        <li><a href="loan/car_loan">Car loan</a> /loan/car_loan</li>
        </ul>
        <li><a href="deposit/">Deposit</a> /deposit</li>
        <ul>
            <li><a href="deposit/saving_account/">Saving Account</a> /deposit/saving_account/</li>
            <li><a href="deposit/fixed_account/">Fixed Account</a></li> /deposit/fixed_account/
            <li><a href="deposit/special_account/">Special Account</a> /deposit/special_account</li>
        </ul>
    </ul>
</body>
</html>